.outer-container {
    height:700px;
    width:80%;
    background-color: #BEBCBC;
    margin-left: 145px;
    margin-right: 65px;
}

* {box-sizing: border-box;}

.input-container {
  display: flex;
  float: right;
  width: 100%;
  margin-bottom: 15px;
}


.icon {
  padding: 10px;
  background: rgb(216, 199, 100);
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  float: right;
  width: 350px;
  padding: 10px;
  outline: none;
}

.input-div {
    width: 100%;
}

